{% extends "base.html" %}
{% block title %}The Potion{% endblock %}

{% block head_extra %}
<link rel="stylesheet" href="{{ request.url_for('static', path='css/donate_823.css') }}">
{% endblock %}

{% block content %}
  <main class="page-card">
    <h1>捐助我们</h1>
    <p class="lead">如果这个测验对你有帮助，欢迎支持我们继续改进与维护。</p>
    <p class="lead">目前实际的维护成本（伺服器、网域和其它第三方服务）为 50 USD/月</p>

    <section class="donation-list" aria-label="捐助方式">
      <div class="donation-item">
        <h3 class="donation-title">加密货币</h3>
        <p class="donation-desc">接受 USDT ERC20 的或其他 ETH 上的任何代币。欢迎在付款时备注昵称或联络方式以便我们致谢。收款地址：0xcf4d78a27ef4a9d070717c522b9eb69ff67eacf0</p>
      </div>
    </section>
    <section class="donation-list" aria-label="捐助方式">
      <div class="donation-item">
        <h3 class="donation-title">Buy Me a Coffee</h3>
        <p class="donation-desc">點擊按鈕或每個頁面右下角的咖啡圖示，透過 Buy Me a Coffee 平台，可以用信用卡等多種方式小額支持我們，也可以附上想說的話和聯絡方式以便致謝OuO</p>
        <div class="links">
          <a href="https://buymeacoffee.com/lakecattt" target="blank">贊助我們一杯咖啡</a>
        </div>
          </div>
    </section>
    <div class="links">
      <a href="/about">了解更多</a>
      <a href="/">回到首页</a>
    </div>
  </main>
{% endblock %}
