{% extends "base.html" %}
{% block title %}The Potion{% endblock %}

{% block head_extra %}
<link rel="stylesheet" href="{{ request.url_for('static', path='css/quiz_paginated.css') }}">
{% endblock %}

{% block content %}

{% set progress = ((current_page|float) / (total_pages|float) * 100) | round(0, 'floor') %}

<div class="progress-container">
  <div class="progress-bar" style="--progress: {{ progress }}%;">
    {{ progress }}%
  </div>
</div>

  <div class="instruction" style="color: #296673">
    <p>敘述內指的「玩伴」，可以是任何你希望一起進行調教和實踐 BDSM 的人（們），包含但不限於伴侶。</p>
  </div>

  <form method="post" action="/quiz">
    {% for q in questions %}
      <div class="question">
        <p>{{ (current_page - 1) * 7 + loop.index }}. {{ q.text }}</p>


        <div class="options">
          <div class="option-with-caption">
            <input type="radio" id="q{{q.id}}_1" name="question_{{ q.id }}" value="1" required>
            <label for="q{{q.id}}_1">1</label>
            <small>不同意</small>
          </div>
        
          {% for i in range(2, 4) %}
          <div class="option-with-caption">
            <input type="radio" id="q{{q.id}}_{{i}}" name="question_{{ q.id }}" value="{{ i }}" required>
            <label for="q{{q.id}}_{{i}}">{{ i }}</label>
          </div>
          {% endfor %}

          <div class="option-with-caption">
            <input type="radio" id="q{{q.id}}_4" name="question_{{ q.id }}" value="4">
            <label for="q{{q.id}}_4">4</label>
            <small>没意见</small>
          </div>
          {% for i in range(5, 7) %}
          <div class="option-with-caption">
            <input type="radio" id="q{{q.id}}_{{i}}" name="question_{{ q.id }}" value="{{ i }}" required>
            <label for="q{{q.id}}_{{i}}">{{ i }}</label>
          </div>
          {% endfor %}

          <div class="option-with-caption">
            <input type="radio" id="q{{q.id}}_7" name="question_{{ q.id }}" value="7">
            <label for="q{{q.id}}_7">7</label>
            <small>同意</small>
          </div>
        </div>


      </div>
    {% endfor %}

    <input type="hidden" name="page" value="{{ current_page }}">
    <div class="pagination-buttons">
      {% if current_page > 1 %}
        <a href="/quiz?page={{ current_page - 1 }}" class="btn prev-btn">上一页</a>
      {% else %}
        <span></span>
      {% endif %}

      {% if current_page < total_pages %}
        <button type="submit" class="btn next-btn">下一页</button>
      {% else %}
        <button type="submit" class="btn next-btn">提交</button>
      {% endif %}
    </div>
  </form>
{% endblock %}
