{% extends "base.html" %}
{% block title %}The Potion{% endblock %}

{% block head_extra %}
<link rel="stylesheet" href="{{ request.url_for('static', path='css/quiz.css') }}">
{% endblock %}

{% block content %}

{% set progress = ((current_page|float) / (total_pages|float) * 100) | round(0, 'floor') %}

<div class="progress-container">
  <div class="progress-bar" style="--progress: {{ progress }}%;">
    {{ progress }}%
  </div>
</div>

  <div class="instruction">
    <p>对于下列描述 1 分为非常不同意，4 分为没意见，7 分則为非常同意。</p>
  </div>

  <form method="post" action="/quiz">
    {% for q in questions %}
      <div class="question">
        <p>{{ (current_page - 1) * 7 + loop.index }}. {{ q.text }}</p>
        <div class="options">
          {% for i in range(1, 8) %}
            <label>
              <input type="radio" name="question_{{ q.id }}" value="{{ i }}" required>
              {{ i }}
            </label>
          {% endfor %}
        </div>
      </div>
    {% endfor %}

    <input type="hidden" name="page" value="{{ current_page }}">
    <div class="pagination-buttons">
      {% if current_page > 1 %}
        <a href="/quiz?page={{ current_page - 1 }}" class="btn prev-btn">上一页</a>
      {% else %}
        <span></span>
      {% endif %}

      {% if current_page < total_pages %}
        <button type="submit" class="btn next-btn">下一页</button>
      {% else %}
        <button type="submit" class="btn next-btn">提交</button>
      {% endif %}
    </div>
  </form>
{% endblock %}
